$primaryColor: #233142;
$secondaryColor: #455d7a;

.container {
  max-width: 1350px;
  padding: 0 30px;
  margin: 75px auto;
  overflow: auto;
  font-size: 1.5rem;
  color: $primaryColor;
  display: flex;
  align-items: center;
  justify-content: space-between;
  
  img {
    border-radius: 50%;
    width: 500px;
    height: auto;
  }
}

.portrait {
  margin-top: 50px;
}

@media only screen and (max-width: 1150px){
  .container {
    flex-direction: column-reverse;
  }
}