$primaryColor: #233142;
$secondaryColor: #455d7a;

.nav {
  max-width: 1700px;
  padding: 0 30px;
}

.container {
  border-bottom: 2px solid $primaryColor;
  max-width: 1500px;
  padding: 0 30px;
  margin: 0 auto;
  overflow: auto;
}

.components {
  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    width: 125px;
    height: auto;
  }

  li {
    list-style-type: none;

    a {
      text-decoration: none;
      color: $primaryColor;
      font-size: 1.5rem;
      margin: 10px;
    }
  }
}

.navLinks {
  a:hover {
    color: $secondaryColor;
    border-bottom: 2px solid $secondaryColor;
  }
}
