$primaryColor: #233142;
$secondaryColor: #455D7A;

.components {
    display: flex;
    align-items: center;
    justify-content: space-between;

    li {
        list-style-type: none;

        a {
            text-decoration: none;
            color: $primaryColor;
            font-size: 1.5rem;
        }

        a:hover {
            color: $secondaryColor;
        }
    }
}