$primaryColor: #233142;
$secondaryColor: #455d7a;
$thirdColor: #F95959;
$altColor: #E3E3E3;

.container {
  max-width: 1350px;
  padding: 0 30px;
  margin: 75px auto;
  overflow: auto;
  font-size: 1.5rem;
  color: $primaryColor;
  display: flex;
  
  .col1 {
    width: 500px;
  }
  
  .col2 {
    width: 700px;
  }
}

.projectGif {
  max-width: 1350px;
  padding: 0 30px;
  margin: 75px auto;
  overflow: auto;
  display: flex;
  justify-content: center;
}